<div class="heading_slider_container_cart">
  <div id="cartShippingSlider" class="heading_slider_free_cart">

    {% for i in (1..3) %}
      {% assign title_shipping = 'free_' | append: i | append: '_title' %}
      {% assign text_shipping = 'free_' | append: i | append: '_text' %}


      {% assign title = settings[title_shipping] %}
      {% assign text = settings[text_shipping] %}

      <div class="heding_item_slider">
        <p class="section-title">{{ title }}</p>
        <span>{{ text }}</span>
      </div>
    {% endfor %}

  </div>
</div>
<style>
  .heading_slider_free .heding_item_slider.slick-slide {
  ;


  /*

   width: 100% !important; 
   max-width: 100%; 
*/
}
.heading_slider_container_cart {
  width: 100%;
  max-width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
}

.heading_slider_container_cart .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.heading_slider_free_cart span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: block;
}
.heading_slider_free_cart .section-title {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  line-height: 17px;
}
.heading_slider_free_cart .slick-dots li {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
}
.heading_slider_free_cart .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.heading_slider_free_cart .slick-dots li.slick-active button:before {
  opacity: 1;
  color: black;
}

.heading_slider_free_cart .slick-dots li.slick-active button:before {
  opacity: 1;
  color: black;
  border: none !important;
}

.heading_slider_free_cart {
  display: flex;
  align-items: center;
}
.heading_slider_free_cart .slick-dots {
  position: absolute;
  bottom: 0;
  display: flex;
  background: transparent;
  width: auto;
  padding: 0;
  /* margin: 0; */
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  right: 0;
  justify-content: end;
  top: 0;
  height: 100%;
  align-items: center;
}
.heading_slider_free_cart .slick-dots li button:before {
  font-family: 'slick';
  font-size: 4px;
  line-height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #000;
  background: transparent;
  color: transparent;
  font-weight: bolder;
  opacity: 1;
  border-radius: 50%;
}

</style>