.content-and-comparison-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 5rem;
}
.content-and-comparison-table--no-content {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (max-width: 899px) {
  .content-and-comparison-table {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .content-and-comparison-table--table-first .comparison-table-container {
    order: -1;
  }
}

.content-and-comparison-table .content-container .title {
  margin-top: 0;
}
.comparison-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}
.comparison-table {
  flex-grow: 1;
  border-spacing: 0;
}
.comparison-table tbody {
  box-shadow: 0.5rem 0.5rem 1rem rgba(var(--color-foreground), 0.2),
    0 0 0 0.2rem rgba(var(--color-foreground), 0.07);
  border-radius: 2rem;
}
.comparison-table td {
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: inset 0 -0.1rem 0 0 rgba(var(--color-foreground), 0.05),
    inset 0 0.1rem 0 0 rgba(var(--color-foreground), 0.05);
}
.comparison-table img {
  vertical-align: middle;
}
.comparison-table th {
  padding: 0.5rem 0.75rem;
  font-size: 1.8rem;
  line-height: 1.3;
}
.comparison-table tbody tr:first-of-type .comparison-table__row-name {
  border-radius: 2rem 0 0 0;
}
.comparison-table tbody tr:last-of-type .comparison-table__row-name {
  border-radius: 0 0 0 2rem;
}
.comparison-table tbody tr:first-of-type td:last-child {
  border-radius: 0 2rem 0 0;
}
.comparison-table tbody tr:last-of-type td:last-child {
  border-radius: 0 0 2rem 0;
}
.comparison-table tbody td:not(.comparison-table__row-name) {
  padding: 1rem 2rem;
}
.comparison-table__x {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.comparison-table__checkmark {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin: auto;
  display: inline-block;
}
.comparison-table__x span {
  content: "";
  display: block;
  height: 0.3rem;
  width: 1.8rem;
  background: #fe0000;
  border-radius: 1rem;
  transform: rotate(45deg);
  flex-shrink: 0;
  flex-grow: 0;
}
.comparison-table__x span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}
.comparison-table .comparison-table__row-name h3 {
  margin: 0;
}
@media screen and (max-width: 750px) {
  .comparison-table__checkmark,
  .comparison-table__x {
    width: 1.6rem;
    height: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .comparison-table__logo img {
    max-width: 100%;
    height: auto;
  }
}





.comparison-table tbody tr:first-of-type .comparison-table__row-name {
    /* border-radius: 0 !important; */
}
table.comparison-table tbody{
    box-shadow: .5rem .5rem 1rem rgba(var(--color-foreground), .2), 0 0 0 .2rem rgba(var(--color-foreground), .07);
    border-radius: 2rem !important;
}
table.comparison-table tr th {
    padding: 1rem 1rem;
}
table.comparison-table tr th:nth-child(1) {
    width: 52%;
}
  
table.comparison-table tr th:nth-child(2),
table.comparison-table tr th:nth-child(3) {
    width: 24%;
    font-size: 15px;
}

table.comparison-table tr td:first-child {
    box-shadow: unset;
    color: #fff;
    border-bottom: 0.5px solid #a3a3a3;
}
table.comparison-table tr td:first-child h3{
    color: #fff;
    font-weight: bold;
}


table.comparison-table tr td {
    box-shadow: unset;
    border-bottom: 0.5px solid #a3a3a3;
}

table.comparison-table tr:last-child td {
    border: 0 !important;
}



.list-image img {
    object-fit: contain;
    max-width: 100%;
}



.content-and-comparison-table {
    gap: 10px;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
}

.content-and-comparison-table .content-container.center {
    width: 45%;
}

.content-and-comparison-table .comparison-table-container {
    width: 50%;
    max-width: 100%;
}

.list-image {
    max-width: 100%;
}




.content-and-results__image {
    max-width: 400px;
}



@media screen and (max-width: 1024px) {


   

    .list-image {
        max-width: 100%;
    }


}

@media screen and (max-width: 989px) {

    table.comparison-table tr th {
        font-size: calc(1.8rem * 0.85);
        padding: .5rem 0rem;
    }
    table.comparison-table tr th:nth-child(1) {
        /* 1st column HEADING CELL of comparison table width on mobile: */
        width: 46%;
    }
      
    table.comparison-table tr th:nth-child(2) {
        /* 2nd column HEADING CELL of comparison table width on mobile: */
        width: 27%;
        word-wrap: break-word;
        /* font-size: 0.9em; */
    }
    table.comparison-table tr th:nth-child(3) {
        /* 3rd column HEADING CELL of comparison table width on mobile: */
        width: 27%;
        /* font-size: 0.9em; */
    }
    



}



@media screen and (max-width: 768px) {
   



    .content-and-comparison-table {
        flex-direction: column;
    }

    .content-and-comparison-table .comparison-table-container {
        width: 78%;
    }





}

@media screen and (max-width: 749px) {

   



    .content-and-comparison-slider h2.title.h1 {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
    }

    .content-and-comparison-table .content-container.center h2.title.h1 {
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
    }

    .list-image {
        max-width:  100%;
        margin: 0 auto;
    }




    .content-and-comparison-table {
        flex-direction: column;
    }

    .content-and-comparison-table .content-container.center {
        width: 100%;
    }

    .content-and-comparison-table .comparison-table-container {
        width: 100%;
    }

  
}
