// Copyfy Custom Variables
$primary-color: #0c6cfb;
$primary-color-rgb: 12, 108, 251;
$white-color: #ffffff;
$gray-color: #7f7f7f;
$gray-text: #6f6f6f;
$secondary-text: #525866;
$light-text: #99a0ae;
$light-icon: #cacfd8;
$dark-gray: #8c8c8c;
$dark-color: #212529;
$border-light: #e4e4e4;
$text-sub-60: #525866;
$icon-sub: #525866;
$alpha-blue: rgba(71, 108, 255, 0.1);
$stroke-sub-300: #cacfd8;
$text-soft-400: #99a0ae;

// Background Colors
$bg-weak-gray: #f5f7fa;
$bg-primary-accent: #f0f4fc;
$bg-state-information-lighter: #ebf1ff;

// Border Radius
$radius-12: 12px;
$radius-8: 8px;
$radius-6: 6px;

// Shadows
$shadow-small: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
$shadow-card: 0 1px 2px 0 rgba(10, 13, 20, 0.03);

// Gradient
$primary-gradient: linear-gradient(180deg, #3888ff 0%, #0c6cfb 100%);
$primary-gradient-horizontal: linear-gradient(91.46deg, #0c6cfb 1.25%, #a897ff 99.5%);



