<!--snippet->block_best_seller-->
<div id="{{ block.id }}" class="body-xj7hJ9K ">
    <div class="cls-xj7hJ9K">
        <svg class="icon-xj7hJ9K" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8" />
        </svg>
        <span>{{ block.settings.content }}</span>
    </div>
</div>
<style>
       #{{ block.id }} .cls-xj7hJ9K {
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
            color: var(--color-highliter) !important;;
        }

        #{{ block.id }} .icon-xj7hJ9K {
            margin-right: 8px;
            color: var(--color-highliter) !important;;
            width: 8px; /* Genişlik ayarı */
            height: 8px; /* Yükseklik ayarı */
            animation: blink-xj7hJ9K 1s infinite, glow-xj7hJ9K 1.5s infinite;
        }

        @keyframes blink-xj7hJ9K {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0.2;
            }
        }

        @keyframes glow-xj7hJ9K {
            0% {
                text-shadow: 0 0 5px var(--color-highliter) !important;;
            }
            50% {
                text-shadow: 0 0 20px var(--color-highliter) !important;;
            }
            100% {
                text-shadow: 0 0 5px var(--color-highliter) !important;;
            }
        }
    </style>