
{%- if icon != 'none' -%}

  {%- case icon -%}
   {%- when 'shield' -%}
<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
 

        <path d="M3.1861 2.18375L7.50002 1.2251L11.8139 2.18375C11.9305 2.20966 12.0348 2.27455 12.1095 2.36771C12.1843 2.46087 12.225 2.57672 12.225 2.69615V7.93932C12.225 8.45788 12.0969 8.96841 11.8522 9.4256C11.6075 9.88279 11.2537 10.2725 10.8222 10.5601L7.50002 12.7751L4.17782 10.5601C3.74642 10.2725 3.39267 9.88292 3.14796 9.42583C2.90325 8.96874 2.77515 8.45832 2.77502 7.93985V2.69615C2.77504 2.57672 2.81578 2.46087 2.89052 2.36771C2.96525 2.27455 3.06952 2.20966 3.1861 2.18375ZM3.82502 3.1172V7.93932C3.82503 8.28501 3.91038 8.62536 4.07349 8.93015C4.2366 9.23494 4.47243 9.49475 4.76005 9.68652L7.50002 11.5135L10.24 9.68652C10.5275 9.4948 10.7633 9.23507 10.9264 8.93038C11.0895 8.62569 11.1749 8.28545 11.175 7.93985V3.1172L7.50002 2.30135L3.82502 3.1172Z" fill="#757575" fill-opacity="0.4"/></svg>
</svg>
      {%- when 'tick' -%}
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
 
        <path d="M6.44999 8.66519L11.2758 3.83887L12.0187 4.58122L6.44999 10.1499L3.10889 6.80879L3.85124 6.06644L6.44999 8.66519Z" fill="#757575" fill-opacity="0.4"/></svg>
        </svg>  


    {% else %}
  {%- assign file = icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
  <span class="svg-wrapper">{{ file | inline_asset_content }}</span>
    {% endcase %}
{%- endif -%}
