/* timeline section css start */
.layoutshouldvisibleHeight {
    display: grid;
    gap: 28px;
    margin: 0 0 60px;
}
.heading__mainpoint {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -.02em;
}
.heading__mainpoint span {
    font-family: Rhymes-Light-Italic;
}
.paragraph__mainpoint {
    font-size: 16px;
    line-height: 25px;
}
.buttons__shouldbe_drawers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.buttons__shouldbe_drawers drawer-open {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #E9E9E9;
    border-radius: 50px;
    padding: 4.5px 11.1px;
    font-size: 14px;
    line-height: 21px;
    color: #4C4F4E;
    transition: ease .3s;
    cursor: pointer;
}
.buttons__shouldbe_drawers drawer-open:hover {
    border-color: #121212;
    color: #121212;
}
.buttons__shouldbe_drawers drawer-open img {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
}
.timeline__main__wrapper {
    padding: 100px 0;
}
.timeline__image_sticky img {
    width: 100%;
    border-radius: 10px;
}
.timeline__main__container {
    max-width: 1120px;
    margin: auto;
    padding: 0 20px;
}
.timeline__ct_content .header-section {
    font-size: 18px;
    line-height: 28px;
    max-width: 642px;
    margin: 0 auto 60px;
    text-align: center;
}
.timeline__ct_content .header-section span {
    font-family: Rhymes-Light-Italic;
}
.timeline__interior_layout {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row-reverse;
}
.MainTimeline__containerInterior {
    flex: 1;
    position: relative;
    display: flex;
    padding-left: 10px;
}
.timeline-wrapper {
    display: flex;
}
.progress-container {
    min-width: 2px;
    background-color: #bbbcbc;
    border-radius: 3px;
    margin-right: 30px;
    position: relative;
    height: 100%;
    top: 8px;
    max-height: 97%;
    display: block !important;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    border-radius: 3px;
    transition: height 1s ease,top 1s ease;
    display: block !important;
}
.timeline__ct_content .header-section strong {
    color: rgb(var(--color-primary));
}
.progress-dots {
    position: absolute;
    left: 1px;
    width: max-content;
    height: 100%;
}
.progress-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbbcbc;
    box-sizing: border-box;
    transition: all 1s ease;
    transform: translate(-6px);
    position: absolute;
    display: block !important;
}
.progress-dot.active {
    background-color: #121212;
}
.timeline-item {
    margin: 0 0 32px;
    transition: color .4s;
    padding-left: 10px;
    position: relative;
}
.timeline-item:last-child {
    margin: 0;
}
.timeline__title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #797b7a;
    margin: 0 0 8px;
}
.timeline__dsc {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #797b7a;
    margin: 0;
}
.timeline-item.center-stage .timeline__title, .timeline-item.center-stage .timeline__dsc {
    color: #121212;
}
/* timeline section css end */
@media (min-width: 1024px) {
/* timeline section css start */
.timeline__image_sticky {
    width: 52%;
    position: sticky;
    top: 100px;
    height: 100%;
}
.timeline__outer_container {
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* timeline section css end */
}
@media (max-width: 1279px) {
/* timeline section css start */
.timeline__main__wrapper {
    padding: 52px 0 80px;
}
/* timeline section css end */
}
@media (max-width: 1023px) {
/* timeline section css start */
.timeline__ct_content .header-section {
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto 16px;
}
.timeline__interior_layout {
    justify-content: center;
    gap: 28px;
    flex-direction: column;
    text-align: center;
    max-width: 642px;
    margin: 0 auto;
}
.timeline-item {
    text-align: left;
}
/* timeline section css end */
}
@media (max-width: 749px) {
/* timeline section css start */
.timeline-item {
    padding-left: 5px;
}
.timeline__image_sticky .header-section {
    max-width: 100%;
}
.heading__mainpoint {
    font-size: 30px;
    line-height: 39px;
    margin: 0 0 12px;
}
.layoutshouldvisibleHeight {
    gap: 20px;
    margin: 0 0 40px;
    max-width: 100%;
}
.layoutshouldvisibleHeight .paragraph__mainpoint {
    text-align: left;
    font-size: 14px;
    line-height: 21px;
}
.heading__mainpoint span {
    font-family: Rhymes-Light-Italic;
    display: block;
}
/* timeline section css end */
}